@media only screen and (max-width:700px) {
    /* nav */
    .buscador{
        width: 300px;
        margin: 0%;
    }
    .contactanos__redes{
        @include flex (row, space-around,center);
        margin-top: 10px;
    }
    /* main */
    .size img{
        height: 400px;
    }
    .nosotros{
        @include flex (column,center,center);
        &__padre{
            display: block;
        }
        &__img{
            width: 100%;
            margin-left: 10px;
            & img{
                width: 300px;
                height: 214px;
            }
        }
    }
    .contenedor-galeria__flex-card{
        @include flex (column,center,center);
    }
    /* footer */
    .contactanos{
        display: flex;
        flex-direction: column;
        &__nav{
            margin: 0;
            & ul{
                padding: 0;
            }
            & li{
                margin: 0;
            }
        }
        & h3{
            padding: 0;
            margin: 20px;
            text-align: center;
        }
        &__footer{
            margin: 10px;
            @include flex (column, center, center);
            height: 100%;
        }
        &__redes{
             height: 70%;
        }
    }
    .recetas{
        & h1{
            text-align: center;
            margin: 0;
        }
        &__tortalimon{
            @include flex (column, center, center);
        
            &--ingredientes{
                width: 100%;
                margin: 10px;
                & h2{
                    text-align: center;
                }
                & p{
                    margin: 10px;
                    font-weight: 600;
                }
            }
        }
        &__tortalimon--img{
            width: 200px;
            margin-left: 0;

            & img{
               width: 100%;
               padding: 0;
            }
           }

    }
}