@charset "UTF-8";
/* Colores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Cormorant SC', serif;
  overflow-x: hidden; }

header {
  grid-area: nav; }

.mobile__img {
  border: solid black 2px;
  border-bottom: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f8c3e8b2; }
  .mobile__img img {
    width: 40%; }

.navbar {
  border: solid black 2px;
  font-weight: 900; }

.nav__color {
  display: flex;
  background-color: #f088d1; }

.buscador {
  width: 400px; }

.btn {
  background-color: #8861ad;
  color: white; }
  .btn:hover {
    background-color: #575151; }

.h1__card {
  display: flex;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Cormorant SC', serif;
  overflow-x: hidden; }

.contenedor__padre {
  display: grid;
  grid-template-areas: "nav nav nav" "main main main" "footer footer footer";
  grid-column: 1 fr 1fr 1fr;
  grid-row: 2fr 2fr 2fr;
  background-color: beige; }

main {
  grid-area: main;
  border: solid black 2px;
  border-top: 0; }

.tamaño {
  width: 100%; }
  .tamaño__flex img {
    height: 500px;
    width: 400px; }

.nosotros {
  background-color: #f8c3e8b2;
  padding: 2rem; }
  .nosotros h1 {
    font-size: 8rem; }
  .nosotros h2 {
    margin-bottom: 50px;
    font-weight: 900; }
  .nosotros h3 {
    font-weight: 900; }
  .nosotros__padre {
    display: grid;
    grid-template-areas: "texto-1 texto-1 image" "texto-1 texto-1 image" "texto-1 texto-1 image";
    grid-template-columns: 1fr 1fr 1fr; }
    .nosotros__padre img {
      width: 95%;
      border: solid black 1px;
      margin-left: 25px;
      margin-right: 50px; }
  .nosotros__texto-1 {
    grid-area: texto-1;
    font-size: 1.5rem;
    line-height: 25px;
    font-weight: 600; }
    .nosotros__texto-1-2 {
      grid-area: texto-2;
      line-height: 25px; }
  .nosotros__img {
    grid-area: image; }
  .nosotros .h1__card {
    margin: 0;
    padding: 0; }

/* Galeria */
.contenedor-galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8c3e8b2; }
  .contenedor-galeria__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 30px;
    text-align: center; }
  .contenedor-galeria p {
    margin: 40px; }
  .contenedor-galeria__img {
    margin: 20px; }
  .contenedor-galeria h1 {
    margin: 30px; }

.contenedor-galeria img {
  height: 400px; }

/* Recetas */
.contenedor-recetas {
  background-color: #f8c3e8b2; }

.recetas h1 {
  margin-left: 70px;
  font-weight: 700; }

.recetas h2 {
  font-weight: 600; }

.recetas h3 {
  font-weight: 600;
  margin-left: 70px; }

.recetas img {
  width: 70%; }

.recetas__tortalimon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .recetas__tortalimon--img {
    width: 50%;
    margin-left: 20px; }
  .recetas__tortalimon--ingredientes {
    width: 600px; }

/* recomendaciones */
.recomendaciones {
  background-color: #f8c3e8b2; }
  .recomendaciones h1 {
    padding: 40px; }

.card {
  border: none;
  display: flex;
  align-items: center; }
  .card-body {
    background-color: #f088d1; }
  .card-flex {
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .card img {
    width: 70%; }

@media only screen and (max-width: 560px) {
  .container-fluid {
    margin: 0;
    padding: 0; }
  .navbar-brand {
    margin-left: 10px; }
  .navbar-nav {
    margin-left: 10px; }
  .navbar-toggler {
    margin-right: 10px; }
  .buscador {
    width: 350px;
    margin-left: 10px; }
  .tamaño img {
    height: 400px; }
  .contactanos__redes {
    display: flex;
    flex-direction: column; }
  .contactanos__redes a {
    font-size: 2.5rem; }
  .nosotros__padre {
    grid-template-areas: "texto-1 texto-1 texto-1" "texto-1 texto-1 texto-1" "image image image"; }
  .nosotros__padre img {
    margin: 0; }
  .nosotros h1 {
    margin: 0;
    text-align: center; }
  .nosotros__texto-1 {
    margin-bottom: 30px; }
  .recetas ol {
    font-size: 2em;
    margin-left: 10px; }
  .recetas ul {
    font-size: 2em;
    margin-left: 10px; }
  .recetas img {
    width: 100%;
    margin: 0; }
  .recetas h1 {
    text-align: center; }
  .recetas__tortalimon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .recetas__tortalimon--ingredientes {
      width: 100%;
      padding: 20px; } }

.h1__card {
  margin: 0%;
  margin-right: 30px;
  flex-direction: column; }

@media only screen and (min-width: 700px) and (max-width: 900px) {
  .card {
    margin: 30px; }
    .card-flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px; }
  .container-fluid {
    margin: 0;
    padding: 0; }
  .navbar-brand {
    margin-left: 10px; }
  .navbar-nav {
    margin-left: 10px; }
  .navbar-toggler {
    margin-right: 10px; }
  .buscador {
    width: 350px;
    margin-left: 10px; }
  .tamaño img {
    height: 400px; }
  .contactanos__redes {
    display: flex;
    flex-direction: column; }
    .contactanos__redes a {
      font-size: 2.5rem; }
  .nosotros__padre {
    grid-template-areas: "texto-1 texto-1 texto-1" "texto-1 texto-1 texto-1" "image image image"; }
    .nosotros__padre img {
      margin: 0; }
  .nosotros h1 {
    margin: 0;
    text-align: center; }
  .nosotros__texto-1 {
    margin-bottom: 30px; }
  .recetas ol {
    font-size: 2em;
    margin-left: 10px; }
  .recetas ul {
    font-size: 2em;
    margin-left: 10px; }
  .recetas img {
    width: 100%;
    margin: 0; }
  .recetas h1 {
    text-align: center; }
  .recetas__tortalimon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .recetas__tortalimon--ingredientes {
      width: 100%;
      padding: 20px; } }

.h1__card {
  margin: 0%;
  margin-right: 30px;
  flex-direction: column; }

@media only screen and (max-width: 699px) {
  .contenedor-galeria img {
    width: 90%; }
  .card {
    margin: 30px; }
    .card-flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px; }
  .container-fluid {
    margin: 0;
    padding: 0; }
  .navbar-brand {
    margin-left: 10px; }
  .navbar-nav {
    margin-left: 10px; }
  .navbar-toggler {
    margin-right: 10px; }
  .buscador {
    width: 350px;
    margin-left: 10px; }
  .tamaño img {
    height: 400px; }
  .contactanos__redes {
    display: flex;
    flex-direction: column; }
    .contactanos__redes a {
      font-size: 2.5rem; }
  .nosotros__padre {
    grid-template-areas: "texto-1 texto-1 texto-1" "texto-1 texto-1 texto-1" "image image image"; }
    .nosotros__padre img {
      margin: 0; }
  .nosotros h1 {
    margin: 0;
    text-align: center; }
  .nosotros__texto-1 {
    margin-bottom: 30px; }
  .recetas ol {
    font-size: 2em;
    margin-left: 10px; }
  .recetas ul {
    font-size: 2em;
    margin-left: 10px; }
  .recetas img {
    width: 100%;
    margin: 0; }
  .recetas h1 {
    text-align: center; }
  .recetas__tortalimon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .recetas__tortalimon--ingredientes {
      width: 100%;
      padding: 20px; } }

.h1__card {
  margin: 0%;
  margin-right: 30px;
  flex-direction: column; }

@media only screen and (min-width: 570px) {
  .contenedor-galeria img {
    width: 90%; }
  .card {
    margin: 30px; }
    .card-flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px; }
  .nosotros h1 {
    margin: 0;
    font-size: 3rem; }
  .buscador {
    width: 330px;
    margin-left: 10px; }
  .iconify {
    width: 3rem; } }

footer {
  grid-area: footer;
  border: solid black 2px;
  border-top: 0; }

.contactanos {
  background-color: #7e4c6f;
  text-align: center;
  color: #cea572; }
  .contactanos__footer {
    padding: 2rem; }
  .contactanos li {
    list-style: none;
    margin-bottom: 2rem; }
  .contactanos a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    text-transform: uppercase; }
  .contactanos__redes {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem; }
  .contactanos__redes a {
    font-size: 4rem; }
