@charset "UTF-8";
/* Colores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

main {
  background-color: whitesmoke; }

header {
  grid-area: nav; }

.mobile__img {
  border: solid black 2px;
  border-bottom: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #c264ad; }
  .mobile__img img {
    width: 40%; }
  .mobile__img-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.carousel {
  width: 100%; }

.navbar {
  border: solid black 2px;
  font-weight: 900;
  color: #cea572; }
  .navbar-toggler {
    background-color: #dfdfdfb2; }

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .navbar-nav a:hover {
    color: whitesmoke; }

.nav__color {
  background-color: black; }
  .nav__color li a:hover {
    color: white; }

.nav__color a {
  color: #cea572; }

.nav__color a:hover {
  color: #cea572; }

.buscador {
  margin-left: 30px;
  width: 400px; }

.btn {
  background-color: #8861ad;
  color: white; }
  .btn:hover {
    background-color: #555751; }

.h1__card {
  display: flex;
  align-items: center; }

.formulario-menu {
  display: flex;
  justify-content: center; }

.contactanos__menu li {
  display: inline-block;
  margin: 20px; }
  .contactanos__menu li a {
    font-size: 20px; }
    .contactanos__menu li a:hover {
      color: white; }

.container-fluid {
  display: flex;
  align-items: center !important; }
  .container-fluid .contactanos__redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 0%; }

.buscador {
  width: 350px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

main {
  background-color: whitesmoke; }

.contenedor__padre {
  display: grid;
  grid-template-areas: "nav nav nav" "main main main" "footer footer footer";
  grid-column: 1 fr 1fr 1fr;
  grid-row: 2fr 2fr 2fr;
  background-color: beige; }

main {
  grid-area: main;
  border: solid black 2px;
  border-top: 0; }

.tamaño {
  width: 100%; }
  .tamaño__flex img {
    height: 500px;
    width: 400px; }

.nosotros {
  background-color: #dfdfdfb2;
  padding: 2rem; }
  .nosotros p {
    margin: 20px; }
  .nosotros h1 {
    margin: 10px;
    font-weight: 900; }
  .nosotros h2 {
    margin: 10px;
    font-weight: 900; }
  .nosotros__padre {
    display: grid;
    grid-template-areas: "texto-1 texto-1 image" "texto-1 texto-1 image" "texto-1 texto-1 image";
    grid-template-columns: 1fr 1fr 1fr; }
    .nosotros__padre img {
      width: 400px;
      border: solid black 1px;
      margin-left: 25px;
      margin-right: 50px; }
  .nosotros__texto-1 {
    grid-area: texto-1;
    font-size: 1.5rem;
    line-height: 25px;
    font-weight: 600; }
    .nosotros__texto-1-2 {
      grid-area: texto-2;
      line-height: 25px; }
  .nosotros__img {
    grid-area: image; }
  .nosotros .h1__card {
    margin: 0;
    padding: 0; }

/* Galeria */
.contenedor-galeria {
  background-color: #dfdfdfb2; }
  .contenedor-galeria__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 30px;
    text-align: center; }
    .contenedor-galeria__flex-card {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      align-items: stretch; }
  .contenedor-galeria p {
    margin: 40px; }
  .contenedor-galeria__img {
    margin: 20px; }
  .contenedor-galeria h1 {
    margin: 30px; }
  .contenedor-galeria img {
    height: 400px; }

/* Recetas */
.contenedor-recetas {
  background-color: #dfdfdfb2; }

.recetas h1 {
  padding: 20px;
  margin-left: 70px;
  font-weight: 700; }

.recetas h2 {
  font-weight: 600; }

.recetas h3 {
  font-weight: 600;
  margin-left: 70px; }

.recetas img {
  width: 70%; }

.recetas__tortalimon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .recetas__tortalimon--img {
    width: 50%;
    margin-left: 20px; }
  .recetas__tortalimon--ingredientes {
    width: 600px; }

/* recomendaciones */
.recomendaciones {
  background-color: #dfdfdfb2; }
  .recomendaciones h1 {
    padding: 40px; }

.card {
  border: none;
  display: flex;
  align-items: center;
  margin: 30px; }
  .card-body {
    height: 400px;
    background-color: #c264ad; }
  .card-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .card img {
    height: 300px;
    margin: 0; }
  .card h2 {
    font-weight: 600; }
  .card p {
    font-size: 25px; }

.flex-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; }
  .flex-card-recomendaciones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start; }
  .flex-card .h1__card {
    margin: 0%;
    margin-right: 30px;
    flex-direction: column; }

footer {
  grid-area: footer;
  border: solid black 2px;
  border-top: 0; }

.contactanos {
  background-color: black;
  text-align: left;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
  .contactanos img {
    width: 200px;
    background: linear-gradient(to left, black, grey);
    margin-left: 30px; }
  .contactanos__direccion {
    justify-content: left;
    height: 100%; }
    .contactanos__direccion li {
      list-style: none;
      text-decoration: none;
      color: #cea572;
      font-weight: 600; }
  .contactanos__nav h3 {
    color: #cea572;
    text-align: center; }
  .contactanos__nav li {
    list-style: none;
    margin-left: 50px; }
    .contactanos__nav li a {
      color: #cea572;
      text-align: center;
      text-decoration: none;
      font-size: 1em; }
      .contactanos__nav li a:hover {
        color: white; }
  .contactanos__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-left: 50px;
    height: 200px; }
    .contactanos__footer h3 {
      color: #cea572; }
    .contactanos__footer li {
      display: inline-block;
      list-style: none;
      text-align: center; }
      .contactanos__footer li a {
        margin: 30px;
        font-size: 40px;
        color: white;
        display: inline-block; }
        .contactanos__footer li a:hover {
          color: #cea572; }

@media only screen and (max-width: 700px) {
  /* nav */
  .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .buscador {
    width: 350px;
    margin: 0%; }
  .contactanos__redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px; }
  /* main */
  .size img {
    height: 400px; }
  .nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .nosotros__padre {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .nosotros__img {
      width: 295px;
      padding: 0;
      display: flex;
      justify-content: center; }
      .nosotros__img img {
        width: 100%;
        height: 214px;
        border: 0;
        margin: 0;
        margin-right: 0; }
  .flex-card-recomendaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contenedor-galeria__flex-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  /* footer */
  .contactanos {
    display: flex;
    flex-direction: column; }
    .contactanos__nav {
      margin: 0; }
      .contactanos__nav ul {
        padding: 0; }
      .contactanos__nav li {
        margin: 0; }
    .contactanos h3 {
      padding: 0;
      margin: 20px;
      text-align: center; }
    .contactanos__footer {
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%; }
    .contactanos__redes {
      height: 70%; }
  .recetas h1 {
    text-align: center;
    margin: 0; }
  .recetas__tortalimon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .recetas__tortalimon--ingredientes {
      width: 100%;
      margin: 10px; }
      .recetas__tortalimon--ingredientes h2 {
        text-align: center; }
      .recetas__tortalimon--ingredientes p {
        margin: 10px;
        font-weight: 600; }
  .recetas__tortalimon--img {
    width: 300px;
    margin-left: 0; }
    .recetas__tortalimon--img img {
      width: 300px;
      padding: 0; } }

@media only screen and (min-width: 701px) and (max-width: 1000px) {
  /* nav */
  .buscador {
    width: 500px;
    margin: 0%; }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .navbar-nav a {
      font-size: 25px; }
  .contactanos__redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px; }
    .contactanos__redes li a {
      font-size: 30px; }
  .size img {
    height: 400px; }
  .nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .nosotros__padre {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .nosotros__img {
      width: 500px;
      padding: 0;
      display: flex;
      justify-content: center; }
      .nosotros__img img {
        width: 400px;
        height: 280x;
        border: 0;
        margin: 0;
        margin-right: 0; }
  .flex-card-recomendaciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .contenedor-galeria__flex-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .card {
    width: 400px !important; }
  /* footer */
  .contactanos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .contactanos__nav {
      margin: 0; }
      .contactanos__nav ul {
        padding: 0; }
      .contactanos__nav li {
        margin: 0; }
    .contactanos h3 {
      padding: 0;
      margin: 20px;
      text-align: center; }
    .contactanos__footer {
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%; }
    .contactanos__redes {
      width: 100%;
      height: 70%;
      justify-content: space-around; }
  .size-carousel img {
    width: 100%;
    height: 600px; }
  .recetas h1 {
    text-align: center;
    margin: 0; }
  .recetas__tortalimon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .recetas__tortalimon--img {
      width: 600px; }
    .recetas__tortalimon--ingredientes {
      width: 50%;
      margin: 0px;
      padding: 10px; }
      .recetas__tortalimon--ingredientes ul {
        font-size: 25px;
        font-weight: 600; }
      .recetas__tortalimon--ingredientes li {
        font-size: large; }
      .recetas__tortalimon--ingredientes h2 {
        text-align: center; }
      .recetas__tortalimon--ingredientes p {
        margin: 10px;
        font-weight: 600; }
  .recetas__tortalimon--img {
    width: 200px;
    margin-left: 0; }
    .recetas__tortalimon--img img {
      width: 100%;
      padding: 0; }
  .recetas__tortalimon--img img {
    width: 400px; } }
