footer {
    grid-area: footer;
    border: solid black 2px;
    border-top: 0;

}

.contactanos {
    background-color: $ColorFooter;
    text-align: left;
    background-color: $ColorFooter;
    @include flex (row, flex-start, center);

    & img {
        width: 200px;
        background: linear-gradient(to left, black, grey);
        margin-left: 30px;

    }

    &__direccion {
        justify-content: left;
        height: 100%;
        & li {
            @include lista (none, none);
            color: $LetraMenu;
            font-weight: 600;
        }
    }

    &__nav {
        & h3 {
            color: $LetraMenu;
            text-align: center;
        }

        & li {
            list-style: none;
            margin-left: 50px;

            & a {
                color: $LetraMenu;
                text-align: center;
                text-decoration: none;
                font-size: 1em;

                &:hover {
                    color: white;
                }
            }
        }
    }
    &__footer{
        @include flex(column, center, center);
        justify-content: space-around;
        margin-left: 50px;
        height: 200px;
        & h3{
            color: $LetraMenu;
        }
        & li{
            display: inline-block;
            list-style: none;
            text-align: center;
        & a{
            margin: 30px;
            font-size: 40px;
            color: white;
            display: inline-block;
            &:hover{
                color: $LetraMenu;
            }
        }
        }
    }


}