header {
    grid-area: nav;
}

.mobile__img {
    border: solid black 2px;
    border-bottom: none;
    @include flex (row, center, center);
    background-color: rgb(194, 100, 173);
    & img {
        width: 40%;
    }
    &-logo{
        @include flex (row, center,center);
    }
}

.carousel{
    width: 100%;
}
.navbar {
    border: solid black 2px;
    font-weight: 900;
    color: $LetraMenu;
    &-toggler{
        background-color:$ColorPrincipal;

    }

}
.navbar-nav{
    @include flex (row, center, center);
    width: 100%;
    & a:hover{
        color: whitesmoke;
    }
    
}

.nav__color {
    background-color: black;
    & li{
    & a:hover{
        color: white;
    }
}

}
.nav__color a{
    color: $LetraMenu;
}
.nav__color a:hover{
    color: $LetraMenu;
}
.buscador {
    margin-left: 30px;
    width: 400px;
}

.btn {
    background-color: rgb(136, 97, 173);
    color: white;
    &:hover {
        background-color: rgb(85, 87, 81);
    }
}
.h1__card {
    display: flex;
    align-items: center;
}
.formulario-menu{
    display: flex;
    justify-content: center;
}
.contactanos__menu li{
    display: inline-block;
    margin: 20px;
    & a{
        font-size: 20px;
        &:hover{
            color: white;
        }
    }
}
.container-fluid{
    display: flex;
    align-items: center !important;
.contactanos__redes{
    @include flex (row, center, center);
    padding-left: 0%;
}
}
.buscador{
    width: 350px;
}