main {
    grid-area: main;
    border: solid black 2px;
    border-top: 0;

}
.tamaño {
    width: 100%;
    &__flex img {
        height: 500px;
        width: 400px;
    }
}
.nosotros {
    background-color: $ColorPrincipal;
    padding: 2rem;
    & h1 {
        font-size: 8rem
    }
    & h2 {
        margin-bottom: 50px;
        font-weight: 900;
    }
    & h3 {
        font-weight: 900;
    }
    &__padre {
        display: grid;
        grid-template-areas:
            "texto-1 texto-1 image"
            "texto-1 texto-1 image"
            "texto-1 texto-1 image";
        grid-template-columns: 1fr 1fr 1fr;
        & img {
            width: 95%;
            border: solid black 1px;
            margin-left: 25px;
            margin-right: 50px;
        }
    }    
    &__texto-1 {
        grid-area: texto-1;
        font-size: 1.5rem;
        line-height: 25px;
        font-weight: 600;
        &-2 {
            grid-area: texto-2;
            line-height: 25px;
        
        }
    } 
    &__img {
        grid-area: image;
}
.h1__card{
    margin: 0;
    padding: 0;
}
}
/* Galeria */
.contenedor-galeria{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: $ColorPrincipal;
   &__flex{
    @include flex (column, center, center);
    margin: 0;
    font-size: 30px;
    text-align: center;
   }
   p{
    margin: 40px;
   }
   &__img{
    margin: 20px;
   }
 & img{
    width: 400px;
 }  
 & h1{
    margin: 30px;
 }
}
/* Recetas */
.contenedor-recetas{
    background-color: $ColorPrincipal;
}
.recetas{
    & h1{
        margin-left: 70px;
        font-weight: 700;
    }
    & h2{
        font-weight: 600;
    }
    & h3{
        font-weight: 600;
        margin-left: 70px;
    }
    & img{
        width: 70%;
    }
    &__tortalimon{
        @include flex(row, center, center);
       &--img{
        width: 50%;
        margin-left: 20px;
       }
       &--ingredientes{
        width: 600px;
       }
    }
}
    /* recomendaciones */
.recomendaciones{
    background-color: $ColorPrincipal;
    & h1{
        padding: 40px;
        }
}
.card{
    border: none;
    display: flex;
    align-items: center;
    &-body{
        background-color: $ColorMenu;
    }
    &-flex{
        padding: 60px;
        @include flex(row, space-around, center);
    }
    & img{
        width: 70%;
    }
}
